*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url("https://www.wallpaperflare.com/static/496/336/35/red-lines-spots-abstraction-wallpaper.jpg");
  background-size: cover;
}